<div>
  <h3>New Card</h1>
  <form>
    <label for="card-title">Title</label>
    <input type="text" name="card[title]" id="card-title" class="new-card-title" maxlength="27"><br>
    <button class="button new-card">New card</button>
  </form>
</div>
