<div class="row">
  <h1>My Boards</h1>
</div>

<div class="row board-index col-xs-12">
  <ul class="list-unstyled">
  </ul>
</div>

<div class="row new-board">
  <p>
    <a href="#/api/boards/new">Create New Board</a>
  </p>
</div>
