<div class="board-show">
  <div class="row board-title">
    <div class="col-xs-8">
      <h1><%= board.escape('title') %></h1>
      <button class="button delete-board">Delete this board</board>
    </div>
  </div>

  <div class="list-window">
    <div id="show-lists" class="sortable"></div>
    <div class="row new-lists-form"></div>
  </div>
</div>
